python-crontab
sqlalchemy
psycopg2-binary
pandas
beautifulsoup4
google-auth 
google-api-python-client
pytest-cov 
requests
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gspread
googleapiclient
sys
os